[client]
port=3306
user=root
#password=123123
socket=/var/run/mysqld/mysqld.sock

[mysql]

[mysqld]
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_general_ci
skip-character-set-client-handshake
skip-name-resolve

user=mysql
skip-host-cache
symbolic-links=0
datadir=/var/lib/mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files

#事务提交机制
innodb_file_per_table=ON
innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=16777216
innodb_log_file_size=50331648
innodb_log_files_in_group=2
#隔离级别
transaction_isolation=READ-UNCOMMITTED
